.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 54px;
  height: 100vh;
}

.video {
  grid-column-start: 1;
  grid-column-end: 2;
  justify-self: center;
}

.depthView {
  grid-column-start: 2;
  grid-column-end: 3;
  justify-self: center;
}

.sceneReconstruction {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 3;
}

.footer {
  grid-row-start: 3;
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}